{$ROOT_DOMAIN} {
    header Content-Security-Policy: frame-ancestors *
    header -X-Frame-Options
    header Strict-Transport-Security max-age=31536000;

    # Statische Dateien (gesammelt von Django)
    handle_path /static/* {
        root * /www/static
        file_server
    }

    # Medien-Dateien (Uploads pro Mandant)
    handle_path /media/* {
        root * /www/media
        file_server
    }

    # Alle anderen Pfade an Django weiterleiten
    handle {
        reverse_proxy app:8000
    }
}
