{$ROOT_DOMAIN} {
    header Content-Security-Policy: frame-ancestors *
    # header -X-Frame-Options
    # header Strict-Transport-Security max-age=31536000;

    log {
            output file /var/log/caddy/access.log {
            roll_size 100MiB
            roll_keep 100
            roll_local_time
            }
    }

    # Statische Dateien (gesammelt von Django)
    handle_path /static/* {
        root * /www/static
        file_server
    }

    # Medien-Dateien (Uploads pro Mandant)
    handle_path /media/* {
        root * /www/media
        file_server
    }

    # Theme-Dateien (pro Wahl)
    handle_path /themes/* {
        root * /www/themes
        file_server
    }

    # Alle anderen Pfade an Django weiterleiten
    handle {
        reverse_proxy app:8000
    }
}
