{% load static %}

<!DOCTYPE html>

<html lang="de" class="">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- lz_b_1: Theme-CSS dynamisch über /themes/ laden -->
    <link rel="stylesheet" href="/themes/{{ wahl.theme }}/static/styles.css">
    <script src="{% static "jquery-3.6.0.min.js" %}"></script>
    <title>{% block title %}{% endblock %} | {{ wahl.titel }}</title>
    {% include 'wahlrechner/head.html' %}
</head>

<body class="theme-{{ wahl.theme }} flex flex-col min-h-screen">

{% include 'wahlrechner/header.html' %}

<div class="container flex-grow p-4 mx-auto xl:max-w-7xl sm:p-8 sm:px-16 md:p-8 lg:p-12 xl:p-16 2xl:p-28">

    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-7 md:space-x-5">

        <div class="w-full p-6 md:p-3 lg:col-span-2">{% block sidebar %} {% endblock %}</div>

        <div class="row-span-1 row-start-1 md:row-start-auto md:col-span-2 lg:col-span-5">
            {% include "wahlrechner/logo.html" %}
            {% block content %} {% endblock %}

            <div class="shortcuts">
                <div>
                    <ul>
                        <li class="font-bold">Tastaturbefehle</li>
                        {% block shortcuts %} {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="w-full bg-gray-100 mt-auto footer_padding">
    <!--<div class="container mx-auto p-4 xl:max-w-7xl sm:p-8 sm:px-16 md:p-8 lg:p-12 xl:p-16 2xl:p-28">-->
        <div class="footer-content" id="footer-content">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="footer-left">
                <p>&nbsp;Ein Angebot von GermanZero<br>und LocalZero</p>
            </div>
            <div class="footer-middle">
                <p>Kontakt unter<br>wahlcheck[at]germanzero.de</p>
            </div>
            <div class="footer-right">
                <p>Die Thesen wurden durch<br>das lokale Team erarbeitet&nbsp;</p>
            </div>
        </div>
        </div>
        <script>
        //Erkennenn, ob URL LocalZero.net enthält, kann nur beim einmal ausgeführt werden
        // Hole die aktuelle URL
        const currentUrl = window.location.href;    
        const search_word_1 = "localzero.net"
        const search_word_2 = "wahlcheck.carlos-pusch.de/"

        // Überprüfe, ob "hallo" im URL-String enthalten ist
        if (currentUrl.includes(search_word_1) || currentUrl.includes(search_word_2)) {
            //console.log("wir sind da");
            document.getElementById('footer-content').style.display = "none";
        } else {
            //console.log("nicht richtig");
        }
    </script>
    <!--</div>-->
</footer>
</div>
<!-- {% include 'wahlrechner/footer.html' %}-->

</body>

</html>
