{% extends 'wahlrechner/base.html' %}

{% block title %}{{ wahl.titel }}{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="mb-3 text-xl font-semibold text-gray-700 dark:text-gray-100 shift_for_icon">
            Entschuldigung diese Seite existiert (noch) nicht.
        </h1>
        <div class="text-left text-gray-600 dark:text-gray-300">
            Haben Sie sich vielleicht vertippt? Bitte überprüfen Sie die Adresse.
            Oder die Seite wird erst noch angelegt.
        </div>
        <div class="p-3 mt-5 italic text-gray-400 border border-gray-400 rounded dark:text-gray-200 dark:bg-gray-700 dark:border-none">
            Der Wahlcheck sammelt keinerlei personenbezogene Daten und verwendet keine Cookies.
        </div>
    </div>
{% endblock %}
