{% extends 'wahlrechner/base.html' %}

{% block title %}{{ wahl.titel }} bald verfügbar{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="mb-3 text-xl font-semibold text-gray-700 dark:text-gray-100 shift_for_icon">
            Wahlcheck bald verfügbar
        </h1>
        <div class="text-left text-gray-600 dark:text-gray-300">
            Der Wahlcheck wird in Kürze mit Thesen und Positionen verfügbar sein.
            Bitte schau später noch einmal vorbei.
        </div>
        <div class="p-3 mt-5 italic text-gray-400 border border-gray-400 rounded dark:text-gray-200 dark:bg-gray-700 dark:border-none">
            Der Wahlcheck sammelt keinerlei personenbezogene Daten und verwendet keine Cookies.
        </div>
    </div>
{% endblock %}
